#search-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    border: none;
}

#search-query {
    padding: 8px;
    width: 20rem;
    font-size: 16px;
    text-indent: 30px;
}

#search-query::placeholder {
    text-indent: 30px;
    display: none;
}

#search-form svg {
    fill: #777;
    transform: translate(-310px, 12px);
    margin: 0;

}

#search-form button {
    padding: 8px 16px;
    background-color: #526e54;
    color: white;
    border: none;
    cursor: pointer;
}

#search-form  button:hover {
    background-color: #589442ff;
}


@media (min-width: 320px) and (max-width: 425px) {
    
#search-form svg {
    transform: translate(-150px, 12px);

}

#search-query {
    padding: 8px;
    width: 10rem;
}

#search-query::placeholder {
    display: none;
}

#search-query::placeholder::after {
    content: '';
}
}

@media (min-width: 426px) and (max-width: 768px) {
    
}